html
    style.
        label{
            margin-top:10%;
            font-size:35px;
        }
        .nm1{
            height:35px;
        }
    center
        header(style='background-color:#5F6A6A;color:white; height:10%;font-size:44px;') SEARCH
    body(style='background-color:#F2F3F4')
        center(style=' margin-top:10%')
            label  Search   :
            input#F_Name.nm1(type='text', name='F_Name', size='32')
            center
                br
                input.sa(type='button', name='NEXT', value='Search', style='background-color:#ccccff; margin-left:23%')
    html
